PORT=3000
TELEGRAM_BOT_TOKEN=
MINI_APP_URL=
ADMIN_SECRET=
DATABASE_URL=
ESIM_PROVIDER_API_URL=
ESIM_PROVIDER_API_KEY=
VERIFICATION_PROVIDER_API_URL=
VERIFICATION_PROVIDER_API_KEY=
PAYMENT_WEBHOOK_SECRET=
